p {
    color: blue;
}

body {
    background-color: #e58a23;
    font-family: 'Quicksand', sans-serif;    
}

h1, h2 {
    color: white;
}

h1 {
    /* font-size: 40px; */
}

img {
    max-width: 600px;
}

.description{
    max-width: 600px;
}

.top {
    float: center;
    max-width: 600px;
}
.left {
    float: left;
    max-width: 600px;
}
.right {
    float: right;
    max-width: 600px;
    margin-left: 30px;
}